/*

Colors

*/

$bg-info: #5bc0de !default;
$bg-error: #ef869b !default;
$bg-success: #2b3 !default;
$bg-warning: #f3d43e !default;

/*

Animation Time

*/

$fadeIn_time: 2 !default;
$fadeOut_time: 2 !default;

/*

font-sizes

*/

$fontSize_title: 1.3em !default;
$fontSize_message: 1em !default;
