#funnyCupcake-container {
  position: absolute;
  &.funnyCupcake-top-left {
    top: 20px;
    left: 20px;
  }
  &.funnyCupcake-top-right {
    top: 20px;
    right: 20px;
  }
  &.funnyCupcake-bottom-left {
    bottom: 20px;
    left: 20px;
  }
  &.funnyCupcake-bottom-right {
    right: 20px;
    bottom: 20px;
  }

  .funnyCupcake {
    position: relative;
    min-width: 200px;
    min-height: 60px;
    padding: 10px;
    margin-bottom: 10px;
    &.funnyCupcake-info {
      background-color: $bg-info;
    }
    &.funnyCupcake-error {
      background-color: $bg-error;
    }
    &.funnyCupcake-success {
      background-color: $bg-success;
    }
    &.funnyCupcake-warning {
      background-color: $bg-warning;
    }
    .funnyCupcake-close-button {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      background-color: transparent;
      border: none;
      &:focus {
        outline: transparent;
      }
    }
    .funnyCupcake-title {
      display: inline-block;
      margin-bottom: 10px;
      font-size: 1.3em;
    }
    &::before {
      margin-left: 0;
    }
  }
}
